/* You can add global styles to this file, and also import other style files */
html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  white-space: nowrap;
}

@media(max-width:768px){

  .btn{
    width:100%;
    margin-bottom:10px;
  }

  .card-body{
    padding:1rem !important;
  }

  h1{
    font-size:24px;
  }

  h2{
    font-size:22px;
  }
}